.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo {

}
.br253{
  border: 3px solid red
}
.nav-items > ul{
  display: flex;
}
.nav-items > ul >li{
  padding : 15px;
  list-style-type: none;
  font-size: 24px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card{
  width: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
}
.res-card:hover{
  border: 1px solid black;
  cursor: pointer;
}
.search{
  padding: 10px;
}
.res-logo{
  width: 100%;
}
.shimmer-card{
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.login{
  padding: 0 20px;
}
